button {
	padding: .3em .8em;
	border: 1px solid rgba(0, 0, 0, .1);
	background: #58a linear-gradient(hsla(0, 0%, 100%, .2). transparent);
	border-radius: .2em;
	box-shadow: 0 .05em 0.25em rgba(0, 0, 0, .5);
	color: white;
	text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, .5);
	font-size: 125%;
	line-height: 1.5;
	cursor: pointer;
}

button.ok {
	background-color: #6b0;
}

button.cancel {
	background-color: #c00;
}

hr {
	height: .5em;
	background: rebeccapurple; 
}

.d1 {
	margin: 10px;
	padding: 10px;
	border: 10px solid hsla(0, 0%, 100%, .5);
	background: yellowgreen;
	box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink, 0 2px 5px 15px rgba(0, 0, 0, .6);
}

.something-meaningful {
	background: #655;
	padding: .8em;
}

.something-meaningful > div {
	font-family: sans-serif;
	text-shadow: 0 0 .1em, 0 0 .3em;
	background: #203;
	color: #ffc;
	border-radius: .8em;
	padding: 1em;
}

.d2 {
	margin: .5em;
	background: tan;
	border-radius: .8em;
	padding: 1em;
	box-shadow: 0 0 0 .6em #655;
	outline: .6em solid #655;
	cursor: wait;
}

.d3 {
	padding: 3em 3em;
	background: linear-gradient(45deg, #fb3 50%, #58a 50%);
	background-size: 30px 30px; 
}

.circular path {
	fill: none;
}

.circular {
	width: 10em;
	height: 10em;
	margin: 3em auto 0;
}

.circular svg {
	display: block;
	overflow: visible;
}











