* {
  box-sizing:border-box;
}
body {
  font-family: sans-serif;
}

img {
  box-shadow: 5px 5px 5px gray;
}

.mySlides {
  display: block;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next, .clr {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.clr {
  top: 0;
  right: 0;
}

.prev:hover, .next:hover, .clr:hover {
  background-color: rgba(0,0,0,0.8);
}

img:hover {
  border: 10px solid yellow;
}
